<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liste des clients</title>
</head>
<body>
    <h1>Liste des clients : </h1>
    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="entry : ${clients}">
            <td data-th-text="${entry.nom}"></td>
            <td data-th-text="${entry.prenom}"></td>
            <td><a th:href="@{/client/clientLister/{id}(id=${entry.id})}"><button>Détails</button></a></td>
            <td><a th:href="@{/client/clientEdit/{id}(id=${entry.id})}"><button>Editer</button></a></td>
            <td><a th:href="@{/client/clientDelete/{id}(id=${entry.id})}"><button>Supprimer</button></a></td>
        </tr>
        </tbody>
    </table>
</body>
</html>