<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration sucess</title>
    <style type="text/css">
        span {
            display: inline-block;
            width: 200px;
            text-align: left;
        }
    </style>
</head>
<body>
    <div align="left">
        <h2>Registartion succeeded!</h2>
        <span>Nom : </span><span th:text="${client.nom}"></span><br/>
        <span>Prenom : </span><span th:text="${client.prenom}"></span><br/>
        <span>Email : </span><span th:text="${client.email}"></span><br/>
        <span>Date de naissance : </span><span th:text="${client.dateNaissance}"></span><br/>
    </div>
</body>
</html>